body {
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
}
/* Todo el contenido incluido la barra de navegacion, contenido y footer */
.container-body {
    width: 100%;
    /*max-width: 1366px; */
    margin: auto;
}

/* Barra de navegación */
.container-navbar {
    background-color: #001523;
    height: 101px;
    display: flex;
}
/* logo y titulo de la barra de navegación */
.logo-title {
    margin: 5.5px 0 5.5px 30px;
    width: 45%;
    display: flex;
}

.logo-title-body {
    height: 90px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    padding-left: 1rem;
    margin: 0;
}
/* tiempo y bara de navegación */
.time-navbar {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.date-time {
    position: absolute;
    text-align: center;
    font-size: 13px;
    bottom: 0;
    right: 0;
}

.container-time {
    position: relative;
    font-size: .8rem;
    margin-right: 30px;
    height: 50px;
}

.container-bar {
    height: 51px;
}

.navbar-collapse-color {
    background-color: #001523;
    padding: 0;
}

.navbar-collapse-color ul li a {
    color: white !important;
    border-radius: 10px 10px;
    font-size: 14px;
    font-weight: 500;
    text-shadow: 1px 1px 2px gray;
}

.navbar-collapse-color ul li {
    padding: 0 10px;
}

.navbar-collapse-color ul li a:hover,
.navbar-collapse-color ul li a.activate {
    box-shadow: 0 0 5px black inset;
    background-color: white;
    color: #001523 !important;
}


/* Contenido  entre el header y el footer*/
.content-div {
    background-color: #E7E7E7;
    display: flex;
    height: 800px;
}

/* Contenido - barra de navegación */
.navbar-personal{
    background-color: #313A48;
    width: 251px;
}

.title-navbar {
    font-size: 16px;
    color: white;
    text-align: center;
    background-color: #002640;
    padding: 20px 5px;
    margin: 0;
}

.container-list {
    padding: 0;
    list-style: none;
}

.navbar-item {
    padding: 0;
    margin-bottom: 5px;
    
}

.navbar-item:hover {
    background-color: rgb(13, 99, 156);
}

.navbar-lateral-active {
    background-color: #2D6F9C;
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, .5);
}

.table-requests {
    margin-left: 3ch;
    margin-right: 3ch;
}

.modal-header {
    background-color: #001523;
    padding: 0;
}

.modal-header {
    /* height: 90px; */
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
    padding-left: 1rem;
    margin: 0;
}

.modal-icon {
    align-items: center;
    background-color: #001523;
    color: white;
    border: 0px;
    margin-right: 0.5rem;
}

.link-list {
    padding: 15px 10px;
    display: block;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-shadow: 1px 1px 5px black;
}

.link-list:hover {
    color: white;
    text-decoration: none;
}

/* Contenido - contenido */

.content {
    /*width: 1115px;*/
    padding: 1rem 2rem;
}

/* Footer */

.footer-personal {
    background-color: #B1B9C0;
}

/* Media queris - responsive design */

/* Responsive - header - barra de navegación */
@media screen and (max-width: 830px) {
    .logo-title-body {
        font-size: 16px;
    }
}

@media screen and (max-width: 560px) {
    .logo-title-body {
        font-size: 14px;
        padding: 0;
    }
}

@media screen and (max-width: 440px) {
    .logo-title-body {
        font-size: 12px;
    }
}
/* NUEVA CONVOCATORIA */

/* Titulo y descripción */

.content h3 {
    font-size: 20px;
    font-weight: bold;
}

form div label {
    font-weight: 500;
}

.center-y-icon {
    margin: 2px 1px;
}

.form-title-description {
    font-size: 14px;
}

/* Calificacion de meritos */

.paragraph-merit {
    background-color: white;
    border-radius: 5px 5px;
    padding: 2px 4px;
    font-size: 14px;
    border: 1px solid lightblue;
    display: inline;
}

/*Comite: search, add*/

  .table-requests1 {
    font-size: 15px;
    margin-left: 0ch;
    margin-right: 0ch;
}


@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

