body {
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
}
/* Barra de navegación */
.container-body {
    width: 100%;
    max-width: 1366px;
    margin: auto;
}

.container-navbar {
    background-color: #001523;
    height: 101px;
    display: flex;
}

.logo-title {
    margin: auto 0 auto 30px;
    width: 45%;
    display: flex;
}

.title-convocatory {
    height: 101px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    padding-left: 1rem;
    margin: 0;
}

.time-navbar {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.container-time {
    position: relative;
    font-size: .8rem;
    margin-right: 30px;
    height: 50px;
}

.date-time {
    position: absolute;
    text-align: center;
    font-size: 13px;
    bottom: 0;
    right: 0;
}

.navbar-navbar {
    height: 51px;
}

.navbar-collapse-color {
    background-color: #001523;
    padding: 0 30px ;
}

.navbar-collapse-color ul li a {
    color: white !important;
    font-size: 14px;
}

.navbar-collapse-color ul li {
    padding: 0 10px;
}

.navbar-collapse-color ul li a:hover {
    background-color: white;
    color: #001523 !important;
    border-radius: 10px 10px;
    font-weight: 500;
}

.navbar-collapse-color ul li a.activate {
    background-color: white;
    color: #001523 !important;
    border-radius: 10px 10px;
    font-weight: 500;
}

/* Contenido */
.content-div {
    background-color: #E7E7E7;
    display: flex;
    height: 800px;
}

/* Contenido - barra de navegación */
.navbar-personal{
    background-color: #313A48;
    width: 251px;
}
.title-navbar {
    font-size: 14px;
    color: white;
    text-align: center;
    background-color: #002640;
    padding: 20px 5px;
    margin: 0;
}

.container-list {
    padding: 0;
    list-style: none;
}

.link-list {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.link-list:hover {
    color: white;
    text-decoration: none;
}

.navbar-item {
    padding: 10px 30px;
}

.navbar-item:hover {
    background-color: #2D6F9C;
}

.navbar-lateral-active {
    background-color: #2D6F9C;
}
/* Contenido - contenido */

.content {
    width: 1115px;
}

/* Footer */

.footer-personal {
    background-color: #B1B9C0;
}

