body {
    font-family: 'Roboto', sans-serif;
}

/* Margen de todo el contenido */
.container-header {
    width: 100%;
    max-width: 1366px;
    margin: auto;
}
/* Barra de navegación */
.navbar-container {
    display: flex;
    background-image: url(../img/background-navbar.png);
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

.navbar-container a img {
    position: relative;
    top: 50px
}

.login-container {
    margin: 25px 10px;
    text-align: right;
}

.navbar-div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-navbar li a {
    background-color: white;
    border-radius: 50px 50px;
}

/* Contenido */

.content-div {
    display: flex;
    height: 800px;
    background-color: white;
}
/* Contenido - barra de navegación */
.navbar-margin {
    background-color: #B9DEE7;
    padding: 0;
}

.navbar-content li a {
    border-top: 2px solid royalblue;
}


/* Contenido - contenido */

.content {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}